.navbar {
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  z-index: 2;
  font-family: Abel;
  letter-spacing: 3px;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav-item {
  display: inline-block;
  margin-right: 100px;
  padding-top: 30px;
}

.nav-link,
.nav-about {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after,
.nav-about::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.5s;
}

.nav-link.active::after {
  width: 100%;
}

.nav-link:hover,
.nav-about:hover {
  color: #aea7a7;
  transition: color 0.3s ease, width 0.5s;
}

.nav-link:hover::after,
.nav-about:hover::after {
  width: 100%;
}
