.navbar {
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  z-index: 2;
  font-family: Abel;
  letter-spacing: 3px;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav-item {
  display: inline-block;
  margin-right: 100px;
  padding-top: 30px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  position: relative; /* Add relative positioning */
  transition: color 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -8px; /* Adjust the position to be below the text */
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff; /* Customize the color of the underline */
  transition: width 0.5s; /* Animation duration */
}

.nav-link.active::after {
  width: 100%;
}

.nav-link:hover {
  color: #aea7a7;
}
