.navbar {
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  z-index: 2;
  font-family: Abel;
  letter-spacing: 3px;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav-item {
  display: inline-block;
  margin-right: 100px;
  padding-top: 30px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  transition: color 0.3s ease; /* Adjust the transition duration and timing function */
}

.nav-link:hover {
  color: #aea7a7; /* Adjust the desired color on hover */
}
