.navbar {
  display: flex;
  align-items: center;

  padding-right: 100px;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav-item {
  display: inline-block;
  margin-right: 100px;
}

.nav-link {
  text-decoration: none;
  color: #696969;
  font-weight: bold;
}

.nav-link:hover {
  color: #555;
}

.navbar-logo {
  margin-left: 50px;
  width: 300px;
}
