.sides {
  display: flex;
  justify-content: flex-start;
  margin-top: 20vh;
  margin-bottom: 20vh;
  padding-left: 130px;
  font-family: Abel;
  letter-spacing: 3px;
  color: whitesmoke;
}

.header_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-right: 100px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(36, 36, 36, 0.5);
}

.header_left h1 {
  text-align: center;
  font-size: 3.5vw;
  font-weight: 600;
  margin-bottom: 10px;
}
.header_left h2 {
  text-align: center;
  font-size: 2vw;
  font-weight: 300;
  margin: 0;
}
.header_right {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-left: none;
  padding: 25px;
  background-color: rgba(36, 36, 36, 0.5);
  width: 25%;
}

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Abel;
  src: url('../../assets/Abel-Regular.ttf');
}
