.sides {
  display: flex;
  justify-content: flex-start;
  margin-top: 350px;
  padding-left: 130px;
  font-family: Abel;
  letter-spacing: 3px;
  color: whitesmoke;
}

.header_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-right: 100px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  background-color: rgba(36, 36, 36, 0.5);
}

.header_left h1 {
  text-align: center;
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 10px;
}
.header_left h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}
.header_right {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-left: none;
  padding: 25px;
  background-color: rgba(36, 36, 36, 0.5);
  width: 25%;
}

* {
  scroll-behavior: smooth;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.parallax-content {
  position: relative;
  z-index: 2;
}

.parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 115vh;
  background-image: url('../../assets/clean_house.jpg');
  background-size: cover;

  z-index: -1;
}

@font-face {
  font-family: Abel;
  src: url('../../assets/Abel-Regular.ttf');
}
