.form-container {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.form-container h2 {
  color: whitesmoke;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: whitesmoke;
}

.form-select,
.form-textarea,
.form-submit {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.form-submit {
  background-color: #4caf50;
  color: white;
  margin-top: 10px; /* Add margin-top to separate from other form elements */
}

.form-submit:hover {
  background-color: #45a049;
  cursor: pointer;
}
